asgiref
beautifulsoup4
blinker
command-not-found
crispy-bootstrap5
cryptography
dbus-python
distro
distro-info
Django
django-bootstrap-v5
django-bootstrap4
django-crispy-forms
django-environ
httplib2
humanize
importlib-metadata
jeepney
keyring
launchpadlib
lazr.restfulclient
lazr.uri
more-itertools
netifaces
oauthlib
pillow
psycopg2-binary
PyGObject
PyJWT
pyparsing
python-apt
PyYAML
SecretStorage
six
soupsieve
sqlparse
systemd-python
typing_extensions
ubuntu-pro-client
ufw
unattended-upgrades
wadllib
zipp
